extends layout

block content
  script(type='text/javascript' src='/javascripts/index.js')
  #header-wrapper
    #header-highlight
      h1 Real-Time Location Analysis
      img#logo(src='/images/cisco-logo.png')
  ul#nav-bar
    li#nav-hrealtime Realtime Location
    li#nav-htrace Trace
  #content-area
    #content-map
    #calendar  
    #calendar2 
    button#apply Apply
