doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/lib/kendo/styles/kendo.common.min.css')
    link(rel='stylesheet', href='/lib/kendo/styles/kendo.silver.min.css')
    link(rel='stylesheet/less', href='/stylesheets/style.less')
    script(type='text/javascript' src='/lib/jquery-1.11.1.min.js')
    script(type='text/javascript' src='/lib/kendo/kendo.all.min.js')
    script(type='text/javascript' src='/lib/socket.io.js')
    script(type='text/javascript' src='/lib/underscore.js')
    script(type='text/javascript' src='/lib/less-1.7.4.min.js')
  body
    block content